<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>LavanyaBalu Store</title> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <style>
            #banner {
                height: 360px;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container">
        <h1 class="text-center mt-2 mb-4" >{{company_name}} Store</h1>
        <img class="img-fluid" id="banner" src="https://af1951bc-eddb-44df-a132-06b6fc569ef3-00-2tk8utt2io9hp.janeway.replit.dev/static/banner.jpg" alt="Cloth Store" height="520">
        <h2 class="text-center mt-2 mb-4" >About LavanyaBalu Store</h2>
        <p> A clothes store, also known as a clothing store or apparel shop, is a retail establishment that sells ready-made clothing items. These stores offer a wide variety of garments for different occasions, styles, and sizes, catering to diverse customer preferences. Some clothing stores specialize in specific niches, like children's wear, formal attire, or athletic apparel. The concept of a clothing store has evolved over time, with the rise of both brick-and-mortar shops and online retailers.</p>
        <h2>Products For You</h2>
        <div>
            {% for job in jobs %}
            {%include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
        <button class="btn btn-secondary btn-lg">Contact Us</button>
            <p class="text-center mt-4">Copyright 2022,LavanyaBalustore</p>
        </div>
        </div>
    </body>  
  
</html>
